.text-10 {
	/* 3 Typography */
	font-family: var(--font-main);
	font-size: var(--font-size-10);
	line-height: var(--line-height-s);
	color: var(--color-white);
	font-weight: normal;
	letter-spacing: var(--letter-spacing-s);
}
