:root {
	/* Spacers */
	--space-4xs: 2px;
	--space-3xs: 4px;
	--space-2xs: 8px;
	--space-xs: 12px;
	--space-s: 16px;
	--space-m: 20px;
	--space-l: 24px;
	--space-xl: 32px;
	--space-2xl: 40px;
	--space-3xl: 48px;
	--space-4xl: 64px;
	--space-5xl: 72px;
	--space-6xl: 96px;

	/* Width */
	--modal-width-xll: 985px;
	--img-width-s: 359px;
	--btn-width-xs: 110px;
	--btn-width-m: 170px;

	/* height */
	--btn-height-s: 40px;
	--btn-height-m: 48px;

	/* Logo */
	--logo-width-m: 127px;

	/* Checkbox */
	--checkbox-width-m: 18px;
	--checkbox-height-m: 18px;
	--checkbox-width-before: 11px;
	--checkbox-height-before: 11px;

	/* Popup */
	--popup-width-s: 480px;
	--popup-width-m: 550px;
	--popup-width-l: 640px;

	/* Radio */
	--radio-width-m: 18px;
	--radio-height-m: 18px;
	--radio-width-before: 18px;
	--radio-height-before: 18px;
	--radio-width-after: 10px;
	--radio-height-after: 10px;

	/* Loader */
	--loader-width-xs: 14px;
	--loader-height-xs: 14px;
	--loader-width-m: 24px;
	--loader-height-m: 24px;

	/* Toggle */
	--toggle-width-m: 32px;
	--toggle-height-m: 18px;
	--toggle-width-label: 32px;
	--toggle-height-label: 18px;
	--toggle-width-before: 14px;
	--toggle-height-before: 14px;
	--toggle-position-before-left: 13px;

	/* Paginations */
	--paginations-item-width-m: 28px;
	--paginations-item-height-m: 28px;

	/* Input-date */
	--input-date-calendar-top: 56px;

	/* Calendar */
	--calendar-width-m: 250px;
	--calendar-day-width-m: 32px;
	--calendar-day-height-m: 32px;

	/* Popup-change-wallet*/
	--color-popup-desc-bg: #25130d;
	--color-popup-transactions-bg: #202125;
	--color-popup-transactions-bg: #202125;
	--color-popup-transactions-badge-width: 22px;
	--color-popup-transactions-badge-height: 16px;

	/* Card-short-wallet*/
	--card-short-wallet--bg: #202125;

	/* Popup-connect-wallet*/
	--popup-connect-wallet-loader-width: 56px;
	--popup-connect-wallet-img-width: 48px;
	--popup-connect-wallet-error-img-width: 64px;
	--popup-connect-wallet-error-bg: #1c0002;
	--popup-connect-wallet-error-card-short-wallet-bg: #2c191e;

	/* Typography */
	--font-main: "Inter", sans-serif;
	--font-second: "EurofontExtendedC", sans-serif;

	/* Font sizes. */
	--font-size-H1: 32px;
	--font-size-mob-H1: 32px;
	--font-size-mob-promo-16: px;
	--font-size-promo-20: 20px;
	--font-size-promo-16: 16px;
	--font-size-promo-14: 14px;
	--font-size-promo-12: 12px;
	--font-size-promo-11: 11px;
	--font-size-promo-10: 10px;
	--font-size-H3: 32px;
	--font-size-16: 16px;
	--font-size-14: 14px;
	--font-size-12: 12px;
	--font-size-11: 11px;
	--font-size-10: 10px;

	/* Line heights. */
	--line-height-xs: 14px;
	--line-height-s: 16px;
	--line-height-m: 18px;
	--line-height-l: 20px;
	--line-height-xl: 24px;
	--line-height-2xl: 28px;
	--line-height-3xl: 32px;
	--line-height-4xl: 38px;

	/* Letter-spacing. */
	--letter-spacing-s: -0.1px;

	/* Colors */
	--color-white: #ffffff;
	--color-black: #000000;
	--color-green-promo: #00cb82;

	/* Colors Dark */
	--color-dark-50: #94969a;
	--color-dark-100: #686a6e;
	--color-dark-200: #686a6e;
	--color-dark-300: #515460;
	--color-dark-400: #24252d;
	--color-dark-500: #2a2b32;
	--color-dark-600: #2c2c2e;
	--color-dark-700: #2a2a2c;
	--color-dark-800: #1b1b1c;
	--color-dark-900: #0b0b0b;
	--color-dark-950: #000000;

	/* Colors Orange */
	--color-orange-50: #ffbfad;
	--color-orange-100: #f89a7f;
	--color-orange-200: #f08160;
	--color-orange-300: #df603b;
	--color-orange-400: #cf4f29;
	--color-orange-500: #bc401c;
	--color-orange-600: #b63b17;
	--color-orange-700: #ad3613;
	--color-orange-800: #a53717;
	--color-orange-900: #8d2d11;
	--color-orange-950: #74250e;

	/* Colors Green*/
	--color-green-50: #aaefe3;
	--color-green-100: #80decd;
	--color-green-200: #64cebb;
	--color-green-300: #49bda9;
	--color-green-400: #3bb19c;
	--color-green-500: #279783;
	--color-green-600: #228f7c;
	--color-green-700: #1b7e6d;
	--color-green-800: #177161;
	--color-green-900: #125c4f;
	--color-green-950: #0d4a3f;

	/* Colors Red*/
	--color-red-50: #eea3a7;
	--color-red-100: #e37d84;
	--color-red-200: #cf6268;
	--color-red-300: #c24f56;
	--color-red-400: #ae3c43;
	--color-red-500: #9a2c33;
	--color-red-600: #90272d;
	--color-red-700: #862228;
	--color-red-800: #801c22;
	--color-red-900: #74161c;
	--color-red-950: #661015;

	/* Colors overlay*/
	--color-overlay: rgba(27, 27, 28, 0.6);

	/* Colors Btn Border*/
	--color-btn-outline-border: rgba(255, 255, 255, 0.1);

	/* Colors Badge Bg*/
	--color-badge-bg: #661015;

	/* Gradient*/
	--gradient-primary-orange: linear-gradient(266.47deg, #c77326 10.33%, #981807 102.01%);
	--gradient-bright-orange: linear-gradient(263.9deg, #c74a26 3.46%, #e24400 50.09%, #981807 105.19%);
	--gradient-hovers-orange: linear-gradient(263.9deg, #ff693e 3.46%, #e24400 50.09%, #f36f24 105.19%);
	--gradient-bright-dark: linear-gradient(266.47deg, #212124 10.33%, #4d4f56 53.78%, #1e2022 102.01%);
	--gradient-button-background: linear-gradient(
		266.47deg,
		rgba(199, 115, 38, 0.1) 10.33%,
		rgba(152, 24, 7, 0.1) 102.01%
	);
	--gradient-primary-green: linear-gradient(266.47deg, #4ad0a8 10.33%, #027055 102.01%);

	/* Shadow */
	--box-shadow-modal-lighting: 0px 35px 71px -30px rgba(234, 101, 44, 0.14);

	/* Backdrop-filter */
	--backdrop-filter-overlay: blur(15px);
	--backdrop-filter-button: blur(15px);

	/* Icons */
	--icon-5xs: 6px;
	--icon-2xs: 14px;
	--icon-xs: 16px;
	--icon-s: 20px;
	--icon-m: 24px;

	/* Opacity */
	--opacity-0: 0;
	--opacity-15: 0.15;
	--opacity-20: 0.2;
	--opacity-30: 0.3;
	--opacity-50: 0.5;
	--opacity-100: 1;

	/* Borders */
	--border-radius-none: 0px;
	--border-radius-full: 50%;
	--border-radius-5xs: 2px;
	--border-radius-4xs: 4px;
	--border-radius-3xs: 6px;
	--border-radius-2xs: 8px;
	--border-radius-xs: 10px;
	--border-radius-s: 12px;
	--border-radius-m: 16px;
	--border-radius-l: 18px;
	--border-radius-xl: 20px;
	--border-radius-2xl: 26px;

	--border-width-0: 0px;
	--border-width-xs: 1px;
	--border-width-s: 2px;

	--border-color-popup-gradient: var(--gradient-primary-orange);
	--border-shadow-popup: var(--box-shadow-modal-lighting);
	--border-color-table: var(--color-orange-500);
	--border-color-select-gradient: var(--gradient-primary-orange);
	--border-shadow-select: var(--box-shadow-modal-lighting);
	--border-color-select-active: var(--color-green-promo);
	--border-color-error: var(--color-red-500);
	--border-shadow-error: var(--box-shadow-modal-lighting);
	--border-color-select-price-gradient: var(--gradient-primary-green);

	/* Positioning */
	--z-index-auto: auto;
	--z-index-0: 0;
	--z-index-10: 10;
	--z-index-20: 20;
	--z-index-30: 30;
	--z-index-40: 40;
	--z-index-50: 50;
	--z-index-max: 1000;

	/* Animation */
	--transition: 0.4s;
}
