.input {
	/* 1 Positioning */
	position: relative;

	/* 2 Block model */
	display: flex;
	flex-direction: row;
	align-items: center;
	box-sizing: border-box;
	gap: var(--space-xs);
	width: 100%;
	padding: var(--space-xs) var(--space-s);

	/* 4 Visual */
	border: var(--border-width-s) solid var(--color-dark-200);
	border-radius: var(--border-radius-2xs);
	background-color: transparent;
	cursor: pointer;

	/* 5 Animation */
	transition: all 0.4s;
}
.input label {
	/* 2 Block model */
	padding: 0;
	margin: 0;

	/* 3 Typography */
	font-family: var(--font-main);
	font-size: var(--font-size-14);
	font-weight: normal;
	line-height: var(--line-height-xl);
	color: var(--color-dark-50);

	/* 5 Animation */
	transition: all 0.4s;
}
.input__body {
	/* 2 Block model */
	display: inline-flex;
}
.input input {
	/* 2 Block model */
	width: 100%;
	padding: 0;
	margin: 0;
	flex: 1 1 auto;

	/* 3 Typography */
	font-family: var(--font-main);
	font-size: var(--font-size-14);
	font-weight: normal;
	line-height: var(--line-height-xl);
	color: var(--color-white);

	/* 4 Visual */
	border: none;
	background: none;
	outline: none;
}
.input input::-webkit-input-placeholder {
	/* 3 Typography */
	color: var(--color-dark-50);
}
.input input::-moz-placeholder {
	/* 3 Typography */
	color: var(--color-dark-50);
	text-overflow: ellipsis;

	/* 4 Visual */
	opacity: 1;
}
.input input:-moz-placeholder {
	/* 3 Typography */
	color: var(--color-dark-50);
	text-overflow: ellipsis;

	/* 4 Visual */
	opacity: 1;
}
.input input:-ms-input-placeholder {
	/* 3 Typography */
	color: var(--color-dark-50);
	text-overflow: ellipsis;
}
.input input[placeholder] {
	/* 3 Typography */
	text-overflow: ellipsis;
}
// .input input:hover {
// 	/* 4 Visual */
// 	border: var(--border-width-s) solid var(--color-orange-100);
// }
// .input input:active {
// 	/* 4 Visual */
// 	border: var(--border-width-s) solid var(--color-orange-100);
// }
.input__icon-left {
	/* 4 Visual */
	stroke: var(--color-dark-50);
}
.input__icon-right {
	/* 4 Visual */
	stroke: var(--color-orange-500);
}
.input__error {
	/* 1 Positioning */
	position: absolute;
	left: var(--space-3xs);
	bottom: calc(-1 * var(--space-s));

	/* 3 Typography */
	color: var(--color-red-400);
}
// .input input:disabled {
// 	/* 3 Typography */
// 	color: gray;

// 	/* 4 Visual */
// 	cursor: not-allowed;
// 	background-color: #ffffff;
// 	border: 3px solid pink;
// }

@import "--filled/--filled.scss";
@import "--focus/--focus.scss";
@import "--error/--error.scss";
@import "--icons/--icons.scss";
@import "--icons-focus/--icons-focus.scss";
@import "--icons-filled/--icons-filled.scss";
@import "--line/--line.scss";
@import "--line-focus/--line-focus.scss";
@import "--line-filled/--line-filled.scss";
@import "--line-error/--line-error.scss";
