div.calendar
	div.calendar__top
		+btn-icon({type: 'button', icon: 'icon--chevron-left'})
		h2.text-14.text-bold January 2020
		+btn-icon({type: 'button', icon: 'icon--chevron-right'})
	div.calendar__date
		+icon-text({icon: 'icon--date', text: '11.02.2020'})
		+icon-text({icon: 'icon--clock-red', text: '13:30 PM'})
	div.calendar__body
		ul.calendar__weekdays
			li.calendar__weekday
				span.text-12 Mon
			li.calendar__weekday
				span.text-12 Tue
			li.calendar__weekday
				span.text-12 Wed
			li.calendar__weekday
				span.text-12 Thu
			li.calendar__weekday
				span.text-12 Fri
			li.calendar__weekday
				span.text-12 Sat
			li.calendar__weekday
				span.text-12 Sun
		ul.calendar__days
			li.calendar__day
				span.text-12.calendar__day-number 1
			li.calendar__day
				span.text-12.calendar__day-number 2
			li.calendar__day
				span.text-12.calendar__day-number 3
			li.calendar__day
				span.text-12.calendar__day-number 4
			li.calendar__day
				span.text-12.calendar__day-number 5
			li.calendar__day
				span.text-12.calendar__day-number 6
			li.calendar__day
				span.text-12.calendar__day-number 7
			li.calendar__day
				span.text-12.calendar__day-number 8
			li.calendar__day
				span.text-12.calendar__day-number 9
			li.calendar__day
				span.text-12.calendar__day-number 10
			li.calendar__day.calendar__day--current
				span.text-12.calendar__day-number 11
			li.calendar__day
				span.text-12.calendar__day-number 12
			li.calendar__day
				span.text-12.calendar__day-number 13
			li.calendar__day
				span.text-12.calendar__day-number 14
			li.calendar__day
				span.text-12.calendar__day-number 15
			li.calendar__day
				span.text-12.calendar__day-number 16
			li.calendar__day
				span.text-12.calendar__day-number 17
			li.calendar__day
				span.text-12.calendar__day-number 18
			li.calendar__day
				span.text-12.calendar__day-number 19
			li.calendar__day
				span.text-12.calendar__day-number 20
			li.calendar__day
				span.text-12.calendar__day-number 21
			li.calendar__day
				span.text-12.calendar__day-number 22
			li.calendar__day
				span.text-12.calendar__day-number 23
			li.calendar__day
				span.text-12.calendar__day-number 24
			li.calendar__day
				span.text-12.calendar__day-number 25
			li.calendar__day
				span.text-12.calendar__day-number 26
			li.calendar__day
				span.text-12.calendar__day-number 27
			li.calendar__day
				span.text-12.calendar__day-number 28
			li.calendar__day
				span.text-12.calendar__day-number 29
			li.calendar__day
				span.text-12.calendar__day-number 30
			li.calendar__day
				span.text-12.calendar__day-number 31
			li.calendar__day.calendar__day--other
				span.text-12.calendar__day-number 1
			li.calendar__day.calendar__day--other
				span.text-12.calendar__day-number 2
			li.calendar__day.calendar__day--other
				span.text-12.calendar__day-number 3
			li.calendar__day.calendar__day--other
				span.text-12.calendar__day-number 4