nav.paginations(role="navigation")
	ul.paginations__list
		li.paginations__item 
			a.paginations__link.text-12.text-bold.text-12.text-bold(href="#") Prev
		li.paginations__item 
			a.paginations__link.text-12.text-bold(href="#") 1
		li.paginations__item 
			a.paginations__link.text-12.text-bold(href="#") 2
		li.paginations__item 
			a.paginations__link.text-12.text-bold(href="#") 3
		li.paginations__item 
			span.paginations__three-dots.text-12.text-bold ...
		li.paginations__item 
			a.paginations__link.paginations__link--current.text-12.text-bold(href="#") 25
		li.paginations__item 
			a.paginations__link.text-12.text-bold(href="#") 26
		li.paginations__item 
			a.paginations__link.text-12.text-bold(href="#") 27
		li.paginations__item  
			a.paginations__link.text-12.text-bold(href="#") Next