.icon {
	/* 2 Block model */
	display: inline-block;
	width: var(--icon-m);
	height: var(--icon-m);
}
.icon--5xs {
	/* 2 Block model */
	width: var(--icon-5xs);
	height: var(--icon-5xs);
}
.icon--2xs {
	/* 2 Block model */
	width: var(--icon-2xs);
	height: var(--icon-2xs);
}
.icon--xs {
	/* 2 Block model */
	width: var(--icon-xs);
	height: var(--icon-xs);
}
.icon--s {
	/* 2 Block model */
	width: var(--icon-s);
	height: var(--icon-s);
}
.icon--m {
	/* 2 Block model */
	width: var(--icon-m);
	height: var(--icon-m);
}
.icon--btn-close {
	/* 2 Block model */
	width: var(--icon-xs);
	height: var(--icon-xs);

	/* 4 Visual */
	stroke: var(--color-orange-500);

	/* 5 Animation */
	transition: all var(--transition) ease;
}
