include icon/icon.pug
include btn/btn.pug
include logo/logo.pug
include btn-icon/btn-icon.pug
include icon-text/icon-text.pug
include icon-link/icon-link.pug
include input/input.pug 
include loader/loader.pug 
include checkbox/checkbox.pug
include radio/radio.pug
include toggle/toggle.pug
include badge/badge.pug
include badge-one/badge-one.pug
include input-dropdown/input-dropdown.pug
include input-date/input-date.pug
include card-info-wallet/card-info-wallet.pug
include card-short-wallet/card-short-wallet.pug