@import "./text-styles/h1.scss";
@import "./text-styles/h3.scss";
@import "./text-styles/text-10.scss";
@import "./text-styles/text-11.scss";
@import "./text-styles/text-12.scss";
@import "./text-styles/text-14.scss";
@import "./text-styles/text-16.scss";
@import "./text-styles/text-promo-11.scss";
@import "./text-styles/text-promo-12.scss";
@import "./text-styles/text-promo-14.scss";
@import "./text-styles/text-promo-16.scss";
@import "./text-styles/text-promo-20.scss";

.text-left {
	/* 3 Typography */
	text-align: left;
}
.text-center {
	/* 3 Typography */
	text-align: center;
}
.text-right {
	/* 3 Typography */
	text-align: right;
}
.text-justify {
	/* 3 Typography */
	text-align: justify;
}
.text-uppercase {
	/* 3 Typography */
	text-transform: uppercase;
}
.text-bold {
	/* 3 Typography */
	font-weight: bold;
}
.text-medium {
	/* 3 Typography */
	font-weight: 500;
}
