.input--line {
	/* 2 Block model */
	padding-top: 0;
	padding-left: 0;

	/* 4 Visual */
	border: none;
	border-bottom: var(--border-width-s) solid var(--color-dark-200);
	border-radius: var(--border-radius-none);
}
// .input--linefocus {
// 	/* 4 Visual */
// 	border: none;
// 	border-bottom: var(--border-width-s) solid var(--color-dark-200);
// }
