nav.menu
	ul.menu__list
		li.menu__item
			a.text-promo-11.menu__link(href="#") OTC DESK
		li.menu__item
			a.text-promo-11.menu__link.menu__link--active(href="#") MY DASHBOARD
				span.menu__arrow
					+icon('icon--keyboard-arrow_down', 'icon--5xs')
			ul.menu__sub-list
				li.menu__sub-item 
					a.text-promo-11.menu__sub-link(href="#") Levels Two
		li.menu__item
			a.text-promo-11.menu__link(href="#") 🔥 CREATE OFFER