.input--icon .input__body {
	/* 1 Positioning */
	position: relative;
}
.input__icon-left {
	/* 1 Positioning */
	position: absolute;
	top: 50%;
	left: var(--space-s);

	/* 4 Visual */
	stroke: var(--color-orange-500);
	transform: translateY(-50%);
}
.input--icon input {
	/* 2 Block model */
	padding: var(--space-xs) calc(var(--space-m) + var(--space-l));
}
.input__icon-right {
	/* 1 Positioning */
	position: absolute;
	top: 50%;
	right: var(--space-s);

	/* 4 Visual */
	stroke: var(--color-orange-500);
	transform: translateY(-50%);
}
