div.popup
	div.popup__top
		div.popup__header
			h2.text-promo-20.popup__title Title
			+btn-icon({type: 'button', icon: 'icon--close', iconMod: 'icon--2xs'})(class="popup__close")
	div.popup__body
		div.popup__content
			p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis delectus quo est inventore eum, sunt assumenda non sequi veniam soluta dolores libero accusantium voluptate, excepturi architecto tenetur deserunt ipsum ipsa.
		div.popup__content
			p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis delectus quo est inventore eum, sunt assumenda non sequi veniam soluta dolores libero accusantium voluptate, excepturi architecto tenetur deserunt ipsum ipsa.